/* css reset*/
@import 'css-wipe';


/* custom properties */
:root {
    --hugeH1Font: 2rem;
    --black: #333;
    --white: #fff;
    --paddingBottom: 15px;
}

body {
    background-color: var(--white);
}

section {
    height: 100%;
    lost-column: 1/2 0;
}

div {
    lost-waffle: 1/4 0;
}

.cs-leftImage {
    display: block;
    height: 100vh;
    background-image: url(/home/joecurt85/Desktop/MyCatSite/kitty.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cs-hugeH1 {
    margin-top: 2rem;
    font-size: var(--hugeH1Font);
    padding-bottom: var(--paddingBottom);
}

/* utility classes */
.u-textCenter {
    text-align: center;
}